<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>Book Reviews</title>
</head>
<body>
    <div class = "container">
        <div id="header">
            <h4>Welcome, {{current_user.name}}</h4>
            <a href="/books/new">Add Book and Review</a>
            <a href="/logout">Logout</a>
        </div>
        <div class = "half-size">
            <h4>Recent Book Reviews</h4>
            <ul>
                {% for review in recent_book_reviews %}
                    <h6>{{review.book.title}}</h6>
                    <ul>
                        <li>Rating <span>{{review.rating}}</span></li>
                        <li><a href="/users/{{review.user.id}}">{{review.user.name}}</a> says: {{review.review}}</li>
                    </ul>

                {% endfor %}
            </ul>
        </div>
        <div class = "half-size">
            <h4>Other Books with Reviews</h4>
            {% for book in other_book_reviews %}
                <li><a href = "/books/{{book.id}}">{{book.title}}</li>
            {% endfor %}
        </div>

    </div>

    
</body>
</html>