<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>Add Book</title>
</head>
<body>
    <div class="container">
        <h1>Add a new book and review</h1>
        <a href="/books">Home</a>
        <a href="/logout">Logout</a>
    </div>
    <div id = "header">
        <form action="/reviews" method="post">
            {% csrf_token %}
            <div>
                <label>Title</label>
                <input type = "text" name = "title">    
            </div>
            <div>
                <label>Author</label>
            </div>
            <div>
                <label>Choose from a List</label>
                <select name= "list_author">
                    <option disabled selected></option>
                    {% for author in authors %}
                    <option value = "{{author.id}}">{{author.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>Add a new Author</label>
                <input type = "text" name = "new_author">
            </div>
            <div>
                <label>Review</label>
            </div>
            <div>
                <textarea name="review" id="" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label>Rating</label>
                <input type="number" name="rating" min = "0" max = "5" step = "1">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                {% if 'new_book' in message.tags %}
                    <li>{{message}}</li>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>
    
    
</body>
</html>