<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>Book info

    </title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/books">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div>
        <h2>{{book.title}}</h2>
        <h6>by {{book.author.name}}</h6>
    </div>
    <div class = "half-size">
        <h3>Reviews</h3>
        <ul>
            {% for review in reviews %}
                <li>Rating: {{review.rating}}</li>
                <li><a href="/users/{{review.user.id}}">{{review.user.name}}</a> says: {{review.review}}</li>
                {% if current_user == review.user %}
                    <form action = "/reviews/{{review.id}}/delete" method = "post">
                        {% csrf_token %}
                        <input type="submit" value="Delete this review">
                    </form>
                {% endif %}
                <hr>
            {% endfor %}
        </ul>
    </div>
    <div class="half-size">
        <form action = "/reviews/{{book.id}}" method = "post">
            {% csrf_token %}
            <div>
                <label>Add a review: </label>
            </div>
            <div>
                <textarea name = "review"></textarea>
            </div>
            <div>
                <label>Rating: </label>
                <input type="number" name="rating" min="0" max= "5" step = "1" default = "0">
            </div>
            <input type="submit" value="Submit">

        </form>
        {% if messages %}
        {% for message in messages %}
            {% if 'new_review' in message.tags %}
                <li>{{message}}</li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
</body>
</html>