<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>Book reviews | User info</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/books">Home</a>
            <a href="/books/new">Add book and review</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <h3>Name: {{user.name}}</h3>
            <h3>Email: {{user.email}}</h3>
            <h3>Total reviews: {{user.num_reviews}}</h3>

            <h4>Posted reviews on the following books:</h4>
            <ul>
                {% for book in reviews %}
                <li><a href="/books/{{book.id}}">{{book.title}}</a></li>
                {% endfor %}

            </ul>
        </div>
    </div>
    
</body>
</html>